{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
<h1>All Articles</h1>
<ul>
    {% for article in articles %}
        <li>
            
            <div class="p-2">
                <a href={% url 'article-detail' article.pk %}>{{ article.title }}</a>
                <span class="bg-warning bg-opacity-25 border border-warning rounded-3 px-2 py-1 fw-bold text-secondary"> 
                    {{article.author.username}}
                </span> 
            </div>
        </li>
    {% endfor %}
</ul>
{% endblock %}
